haiyan-config/xsd/haiyan-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by zhouxw -->
<!-- W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Haiyan">
		<xs:annotation>
			<xs:documentation>Haiyan Config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bill" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>

		<xs:unique name="UniBillName">
			<xs:annotation>
				<xs:documentation>uni bill name</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="bill" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniBillFieldName">
			<xs:annotation>
				<xs:documentation>uni bill field name</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="bill/billField" />
			<xs:field xpath="@name" />
		</xs:unique>

		<xs:unique name="UniTableName">
			<xs:annotation>
				<xs:documentation>uni table name</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="table" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniFieldName">
			<xs:annotation>
				<xs:documentation>uni field name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="field" />
			<xs:field xpath="@name" />
		</xs:unique>

		<xs:unique name="UniPluginOperation">
			<xs:annotation>
				<xs:documentation>uni plugin name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="pluginOperation" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniPanel0">
			<xs:annotation>
				<xs:documentation>uni panel name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Panel" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniTabPanel0">
			<xs:annotation>
				<xs:documentation>uni tabpanel name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="TabPanel" />
			<xs:field xpath="@name" />
		</xs:unique>
	</xs:element>
	<!-- metaconfig -->
	<xs:element name="bill">
		<xs:annotation>
			<xs:documentation>bill config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billTable" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="billID" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="billField" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="querySQL" minOccurs="0" />
				<xs:element ref="queryFilter" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="role" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="pluginInterceptor" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="pluginOperation" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="Operation" minOccurs="0" />
				<xs:element ref="DataRules" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="doc" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>bill name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="realName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill realName</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>bill description</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbSource" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>database source</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelcode" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module CODE</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- metaconfig -->
	<xs:element name="table">
		<xs:annotation>
			<xs:documentation>table config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" minOccurs="0" />
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="Panel" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="TabPanel" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="PageView" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="querySQL" minOccurs="0" />
				<xs:element ref="queryFilter" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="role" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="javascript" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="isSelectable" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="isShowable" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="pluginInterceptor" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="pluginOperation" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="Operation" minOccurs="0" />
				<xs:element ref="DataRules" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="doc" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>table name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>table description</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="realName" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>table db realname</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<!-- 表继承关系 -->
			<xs:attribute name="childTable" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>child tablename</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="childTableRefField" type="xs:string"
				use="optional">
				<xs:annotation>
					<xs:documentation>reference field of child table</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parentTable" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>parent tablename</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="parentTableRefField" type="xs:string"
				use="optional">
				<xs:annotation>
					<xs:documentation>reference field of parent table
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<!-- 表数据源 -->
			<xs:attribute name="dbSource" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>database source</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="colspan" type="xs:int" use="optional"
				default="4">
				<xs:annotation>
					<xs:documentation>table colspan</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelcode" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module CODE</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- common field -->
	<xs:complexType name="AbstractCommonField" abstract="true">
		<xs:annotation>
			<xs:documentation>abstract common field</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="option" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>common option</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="displayName" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>component displayName</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="value" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>component value</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>field name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uiname" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>ui name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>field description</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- -->
		<xs:attribute name="validator" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>validator</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="validatorText" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>validatorText</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="readOnly" type="xs:boolean" use="optional"
			default="false">
			<xs:annotation>
				<xs:documentation>readonly</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parameter" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>parameter of common</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- 是否虚拟字段 -->
		<xs:attribute name="visual" type="xs:boolean" use="optional"
			default="false">
			<xs:annotation>
				<xs:documentation>if true it's visual</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<!-- -->
		<xs:attribute name="dsn" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>dsn</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!-- db field -->
	<xs:complexType name="AbstractField" abstract="true">
		<xs:annotation>
			<xs:documentation>abstract db field</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractCommonField">
				<xs:attribute name="indexAllowed" type="xs:boolean" use="optional"
					default="false">
					<xs:annotation>
						<xs:documentation>allow index</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="nullAllowed" type="xs:boolean" use="optional"
					default="true">
					<xs:annotation>
						<xs:documentation>allow null</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="safeHtml" type="xs:boolean" use="optional"
					default="false">
					<xs:annotation>
						<xs:documentation>safe html</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="defaultValue" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>default value</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="dataStyle" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>field db style</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="length" type="xs:int" use="optional">
					<xs:annotation>
						<xs:documentation>field db length</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="maxFractionDigit" type="xs:int"
					use="optional" default="2">
					<xs:annotation>
						<xs:documentation>max digital</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="minFractionDigit" type="xs:int"
					use="optional" default="0">
					<xs:annotation>
						<xs:documentation>min digital</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="javaType" use="required">
					<xs:annotation>
						<xs:documentation>field java type</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="password">
								<xs:annotation>
									<xs:documentation>password</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="string">
								<xs:annotation>
									<xs:documentation>string</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="integer">
								<xs:annotation>
									<xs:documentation>integer</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="bigDecimal">
								<xs:annotation>
									<xs:documentation>bigDecimal</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="date">
								<xs:annotation>
									<xs:documentation>date</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="blob">
								<xs:annotation>
									<xs:documentation>file blob</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="dbBlob">
								<xs:annotation>
									<xs:documentation>db blob</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="dbClob">
								<xs:annotation>
									<xs:documentation>db clob</xs:documentation>
								</xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- bill field -->
	<xs:complexType name="AbstractBillField" abstract="true">
		<xs:annotation>
			<xs:documentation>abstract bill field</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractCommonField">
				<xs:attribute name="dbName" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>db name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="tableIndex" type="xs:int" use="required">
					<xs:annotation>
						<xs:documentation>tableIndex</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- table fields -->
	<xs:element name="id">
		<xs:annotation>
			<xs:documentation>table's pk</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractField" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:annotation>
			<xs:documentation>table's db field</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractField">
					<xs:sequence>
						<xs:element ref="queryCondition" minOccurs="0"
							maxOccurs="1" />
						<!-- 
						<xs:element ref="component" minOccurs="0" maxOccurs="1" /> 
						<xs:element ref="listColumn" minOccurs="0" maxOccurs="1" /> 
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded"> 
							<xs:complexType> 
								<xs:sequence> 
									<xs:element name="key" type="xs:string" /> 
									<xs:element name="value" type="xs:string" /> 
								</xs:sequence> 
							</xs:complexType> 
						</xs:element> 
						-->
					</xs:sequence>
					<!-- -->
					<xs:attribute name="updateable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>updateable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="createable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>createable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="lazyLoad" type="xs:boolean" use="optional"
						default="false">
						<xs:annotation>
							<xs:documentation>lazyLoad</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="loadType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>loadType</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<!-- 
					<xs:attribute name="style" type="xs:string" use="optional"> 
					<xs:annotation> 
						<xs:documentation>fieldStyle</xs:documentation> 
					</xs:annotation> 
					</xs:attribute> -->
					<xs:attribute name="sumable" type="xs:boolean" use="optional"
						default="false">
						<xs:annotation>
							<xs:documentation>@deprecated sumable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="numberGrouping" type="xs:boolean"
						use="optional" default="false">
						<xs:annotation>
							<xs:documentation>numbergrouping, example:10,332.01
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<!-- -->
					<xs:attribute name="multipleSelect" type="xs:boolean"
						use="optional" default="false">
						<xs:annotation>
							<xs:documentation>multipleSelect</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="conditionFields" type="xs:NMTOKENS"
						use="optional">
						<xs:annotation>
							<xs:documentation>query fields of this field, diliver by " ",
								must
								mapping with restrictiveFields
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="restrictiveFields" type="xs:NMTOKENS"
						use="optional">
						<xs:annotation>
							<xs:documentation>field's values to restrict this field value,
								diliver by " "
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="associatedFields" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>associated fields, diliver by ","
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="displayReferenceField" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>display reference field, diliver by ","
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="quickQueryConditionField" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>quick query condition field, diliver by ","
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="referenceField" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>reference field</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="referenceTable" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>reference table</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="visualTable" type="xs:NMTOKENS"
						use="optional">
						<xs:annotation>
							<xs:documentation>visual tables, diliver by " "
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="mappingTable" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>mapping table name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="one2oneTable" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>one2one table name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="one2oneField" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>one2one field name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<!-- -->
					<xs:attribute name="subQuerySQL" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>sub query sql</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- bill fields -->
	<xs:element name="billTable">
		<xs:annotation>
			<xs:documentation>bill's table</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="billID">
		<xs:annotation>
			<xs:documentation>bill's pk</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField">
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="billField">
		<xs:annotation>
			<xs:documentation>bill's field</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField">
					<!-- <xs:attribute name="dbName" type="xs:string" use="required"> <xs:annotation> 
						<xs:documentation>db name</xs:documentation> </xs:annotation> </xs:attribute> 
						<xs:attribute name="tableIndex" type="xs:int" use="required"> <xs:annotation> 
						<xs:documentation>tableIndex</xs:documentation> </xs:annotation> </xs:attribute> -->
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- <xs:element name="component"> <xs:annotation> <xs:documentation>component 
		parameter</xs:documentation> </xs:annotation> <xs:complexType> <xs:sequence> 
		<xs:element name="option" minOccurs="0" maxOccurs="unbounded"> <xs:annotation> 
		<xs:documentation>component option</xs:documentation> </xs:annotation> <xs:complexType> 
		<xs:attribute name="displayName" type="xs:string" use="required"> <xs:annotation> 
		<xs:documentation>component displayName</xs:documentation> </xs:annotation> 
		</xs:attribute> <xs:attribute name="value" type="xs:string" use="required"> 
		<xs:annotation> <xs:documentation>component value</xs:documentation> </xs:annotation> 
		</xs:attribute> </xs:complexType> </xs:element> </xs:sequence> <xs:attribute 
		name="type" use="required"> <xs:annotation> <xs:documentation>component type</xs:documentation> 
		</xs:annotation> <xs:simpleType> <xs:restriction base="xs:NMTOKEN"> <xs:enumeration 
		value="hidden"> <xs:annotation> <xs:documentation>hidden</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="text"> <xs:annotation> 
		<xs:documentation>text</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="regText"> <xs:annotation> <xs:documentation>regText</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="password"> <xs:annotation> 
		<xs:documentation>password</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="readOnlyText"> <xs:annotation> <xs:documentation>readonly 
		text</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="textArea"> <xs:annotation> <xs:documentation>text area</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="fckeditor"> <xs:annotation> 
		<xs:documentation>fckeditor</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="dropdown"> <xs:annotation> <xs:documentation>dropdown 
		combobox</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="list"> <xs:annotation> <xs:documentation>list combobox</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="date"> <xs:annotation> 
		<xs:documentation>date picker</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="dateTime"> <xs:annotation> <xs:documentation>dateTime 
		picker</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="label"> <xs:annotation> <xs:documentation>label</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="richSelect"> <xs:annotation> 
		<xs:documentation>combobox</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="combo"> <xs:annotation> <xs:documentation>combobox</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="treeComb"> <xs:annotation> 
		<xs:documentation>tree-combobox</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="treePComb"> <xs:annotation> <xs:documentation>tree-combobox 
		can select parent node </xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="image"> <xs:annotation> <xs:documentation>image accessory</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="multiImage"> <xs:annotation> 
		<xs:documentation>multiImage accessory</xs:documentation> </xs:annotation> 
		</xs:enumeration> <xs:enumeration value="roleImage"> <xs:annotation> <xs:documentation>image 
		accessory</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="multiRoleImage"> <xs:annotation> <xs:documentation>multiRoleImage 
		accessory</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="file"> <xs:annotation> <xs:documentation>file accessory</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="multiFile"> <xs:annotation> 
		<xs:documentation>multiFile accessory</xs:documentation> </xs:annotation> 
		</xs:enumeration> <xs:enumeration value="placeholder"> <xs:annotation> <xs:documentation>place 
		holder</xs:documentation> </xs:annotation> </xs:enumeration> <xs:enumeration 
		value="button"> <xs:annotation> <xs:documentation>button</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="checkbox"> <xs:annotation> 
		<xs:documentation>check group</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="radio"> <xs:annotation> <xs:documentation>radio group</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="url"> <xs:annotation> 
		<xs:documentation>url</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="split"> <xs:annotation> <xs:documentation>split</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="grid"> <xs:annotation> 
		<xs:documentation>grid</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="panel"> <xs:annotation> <xs:documentation>panel</xs:documentation> 
		</xs:annotation> </xs:enumeration> <xs:enumeration value="iframe"> <xs:annotation> 
		<xs:documentation>iframe</xs:documentation> </xs:annotation> </xs:enumeration> 
		<xs:enumeration value="userDefined"> <xs:annotation> <xs:documentation>user 
		defined</xs:documentation> </xs:annotation> </xs:enumeration> </xs:restriction> 
		</xs:simpleType> </xs:attribute> <xs:attribute name="validator" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>validator</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="validatorText" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>validatorText</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="appendStr" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>label append string</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="pathTable" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>upload table path</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="numberGrouping" type="xs:boolean" 
		use="optional" default="false"> <xs:annotation> <xs:documentation>numbergrouping, 
		example:10,332.01 </xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="maxFractionDigit" type="xs:int" use="optional" default="2"> <xs:annotation> 
		<xs:documentation>max digital</xs:documentation> </xs:annotation> </xs:attribute> 
		<xs:attribute name="minFractionDigit" type="xs:int" use="optional" default="0"> 
		<xs:annotation> <xs:documentation>min digital</xs:documentation> </xs:annotation> 
		</xs:attribute> <xs:attribute name="readOnly" type="xs:boolean" use="optional" 
		default="false"> <xs:annotation> <xs:documentation>component readonly</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="style" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>component style</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="colspan" type="xs:int" 
		use="optional" default="1"> <xs:annotation> <xs:documentation>component colspan</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="rowspan" type="xs:int" 
		use="optional" default="1"> <xs:annotation> <xs:documentation>component rowspan</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="multipleSelect" type="xs:boolean" 
		use="optional" default="false"> <xs:annotation> <xs:documentation>multipleSelect</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="conditionFields" type="xs:NMTOKENS" 
		use="optional"> <xs:annotation> <xs:documentation>query fields of this field, 
		diliver by " ", must mapping with restrictiveFields </xs:documentation> </xs:annotation> 
		</xs:attribute> <xs:attribute name="restrictiveFields" type="xs:NMTOKENS" 
		use="optional"> <xs:annotation> <xs:documentation>field's values to restrict 
		this field value, diliver by " " </xs:documentation> </xs:annotation> </xs:attribute> 
		<xs:attribute name="associatedFields" type="xs:string" use="optional"> <xs:annotation> 
		<xs:documentation>associated fields, diliver by "," </xs:documentation> </xs:annotation> 
		</xs:attribute> <xs:attribute name="displayReferenceField" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>display reference field, 
		diliver by "," </xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="quickQueryConditionField" type="xs:string" use="optional"> <xs:annotation> 
		<xs:documentation>quick query condition field, diliver by "," </xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="referenceField" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>reference field</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="referenceTable" type="xs:string" 
		use="optional"> <xs:annotation> <xs:documentation>reference table</xs:documentation> 
		</xs:annotation> </xs:attribute> <xs:attribute name="visualTable" type="xs:NMTOKENS" 
		use="optional"> <xs:annotation> <xs:documentation>visual tables, diliver 
		by " "</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="className" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>classname 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="parameter" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>parameter 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="renderer" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>renderer 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="summaryType" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>summaryType 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="summaryRenderer" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>summaryRenderer 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="url" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>url 
		of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="urlField" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>url 
		field of component</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="subQuerySQL" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>sub 
		query sql</xs:documentation> </xs:annotation> </xs:attribute> <xs:attribute 
		name="action" type="xs:string" use="optional"> <xs:annotation> <xs:documentation>ui 
		action</xs:documentation> </xs:annotation> </xs:attribute> </xs:complexType> 
		</xs:element> -->
	<!-- etc -->
	<xs:element name="role">
		<xs:annotation>
			<xs:documentation>system role right</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<!--
				<xs:element name="diabledComponent" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>diabled component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>component name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="readOnlyComponent" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>readOnly component</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>component name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="disabledOperation" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>diabled operation</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>operation name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				-->
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKENS" use="required">
				<xs:annotation>
					<xs:documentation>several role name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="view" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>view right</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="querySQL">
		<xs:annotation>
			<xs:documentation>select sql</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pluggedFilter">
		<xs:annotation>
			<xs:documentation>filter sql</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryFilter">
		<xs:annotation>
			<xs:documentation>table filter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pluggedFilter" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="role" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>role group</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pluginInterceptor">
		<xs:annotation>
			<xs:documentation>intercepotor of one plugin</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram">
					<xs:attribute name="pluginName" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>which plugin name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="type" use="optional" default="before">
						<xs:annotation>
							<xs:documentation>intercepotor type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="before">
									<xs:annotation>
										<xs:documentation>before tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="after">
									<xs:annotation>
										<xs:documentation>after tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="beforeAll">
									<xs:annotation>
										<xs:documentation>before all tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="afterAll">
									<xs:annotation>
										<xs:documentation>after all tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="javascript">
		<xs:annotation>
			<xs:documentation>javascript of page</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="parameter" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>parameter</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="src" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>js src</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostPage" use="optional" default="query">
				<xs:annotation>
					<xs:documentation>page of host</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="query">
							<xs:annotation>
								<xs:documentation>query page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="edit">
							<xs:annotation>
								<xs:documentation>edit page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ids">
							<xs:annotation>
								<xs:documentation>many ids</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryCondition">
		<xs:complexType>
			<xs:attribute name="type" use="optional">
				<xs:annotation>
					<xs:documentation>query condition type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none">
							<xs:annotation>
								<xs:documentation>has no condition</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="displayOnly">
							<xs:annotation>
								<xs:documentation>display only</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="equal">
							<xs:annotation>
								<xs:documentation>equals</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="blurMatching">
							<xs:annotation>
								<xs:documentation>blur matching</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="region">
							<xs:annotation>
								<xs:documentation>region</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="in">
							<xs:annotation>
								<xs:documentation>in a range</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="order" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can order</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="listColumn">
		<xs:annotation>
			<xs:documentation>grid view setting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="width" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>column width</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="height" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>row height</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="style" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>list style</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="nowrap" type="xs:boolean" use="optional"
				default="false">
				<xs:annotation>
					<xs:documentation>cell nowrap</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="noedit" type="xs:boolean" use="optional"
				default="false">
				<xs:annotation>
					<xs:documentation>can't edit</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="noquery" type="xs:boolean" use="optional"
				default="false">
				<xs:annotation>
					<xs:documentation>can't query</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:complexType name="ExternalProgram" abstract="true"
		mixed="true">
		<xs:annotation>
			<xs:documentation>abstract external</xs:documentation>
		</xs:annotation>
		<xs:attribute name="className" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external class name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="methodName" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external method name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parameter" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external parameter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="isSelectable">
		<xs:annotation>
			<xs:documentation>singleton selectable judge plugin
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="isShowable">
		<xs:annotation>
			<xs:documentation>singleton showable judge plugin</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomeizeLayout">
		<xs:annotation>
			<xs:documentation>cusotemerize layout</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="for">
				<xs:annotation>
					<xs:documentation>for which page</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="edit">
							<xs:annotation>
								<xs:documentation>edit page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="queryCondition">
							<xs:annotation>
								<xs:documentation>query condition page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="query">
							<xs:annotation>
								<xs:documentation>query page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatisticsView">
		<xs:annotation>
			<xs:documentation>statistics view</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="levelCodeField" type="xs:string"
				use="required">
				<xs:annotation>
					<xs:documentation>field level code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="canWrittenField" type="xs:string"
				use="required">
				<xs:annotation>
					<xs:documentation>field writable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="retractField" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>field retractable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="sumDetailField" type="xs:string"
				use="required">
				<xs:annotation>
					<xs:documentation>sum field</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PageView">
		<xs:annotation>
			<xs:documentation>display view</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram">
					<xs:attribute name="title" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>view title</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="showField" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>display field value, diliver by ","
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="img" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>view icon</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="hostPage" use="optional" default="query">
						<xs:annotation>
							<xs:documentation>view host page</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="edit">
									<xs:annotation>
										<xs:documentation>edit page</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="query">
									<xs:annotation>
										<xs:documentation>query page</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="ids">
									<xs:annotation>
										<xs:documentation>many ids page</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="type" use="required">
						<xs:annotation>
							<xs:documentation>tree type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="querybyform">
									<xs:annotation>
										<xs:documentation>query by form</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="gentree">
									<xs:annotation>
										<xs:documentation>general tree</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="xloadtree">
									<xs:annotation>
										<xs:documentation>lazy load tree</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="complextree">
									<xs:annotation>
										<xs:documentation>any composed tree</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="userdefined">
									<xs:annotation>
										<xs:documentation>userdefined</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Order">
		<xs:annotation>
			<xs:documentation>field order config for query page
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="needOrder" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>this field need order</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataRules">
		<xs:annotation>
			<xs:documentation>data rule</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>field rule define</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="srcTableIndex" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>srcTableIndex</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="field" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>some table's field name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="destTableIndex" type="xs:int"
							use="required">
							<xs:annotation>
								<xs:documentation>destTableIndex</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="formula" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>data formula</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>data rules name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>data rules description</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcTable" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>srcTable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcRefField" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>srcRefField</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcExp" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>srcExp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destTable" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>destTable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destRefField" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>destRefField</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destExp" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>destExp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<!-- if this table is destTable auto.create(srcTable): pluginOperation 
				className="xx.xx.DataRules" method="create" parameter="map(destTable,DataRule.name)" -->
		</xs:complexType>
	</xs:element>
	<xs:element name="Operation">
		<xs:annotation>
			<xs:documentation>operation setting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="save" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can save</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saveAndAdd" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can save and add new</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saveAndAddCopy" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>can save and copy new</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="editOne" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can editOne</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryOne" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can queryOne</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryPageAdd" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can add</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryPageDelete" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>can delete</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="showPrintPage" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>show print view</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="filterDesign" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>filterDesign</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="filterby" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>filterby</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="quickQuery" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>quickQuery</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="inWorkFlow" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>use workflow</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="security" type="xs:boolean" use="optional"
				default="false">
				<xs:annotation>
					<xs:documentation>use security parameter (__procID)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="customizeColumns" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>user define display field (@deprecated)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="selectedHidden" type="xs:boolean"
				use="optional" default="false">
				<xs:annotation>
					<xs:documentation>hidden parameter (__selectedID)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<!-- @deprecated <xs:attribute name="queryPageQueryEdit" type="xs:boolean" 
				use="optional" default="false"> <xs:annotation> <xs:documentation>can edit 
				many record in one page</xs:documentation> </xs:annotation> </xs:attribute> 
				<xs:attribute name="queryPageSave" type="xs:boolean" use="optional" default="true"> 
				<xs:annotation> <xs:documentation>can save many record in one page</xs:documentation> 
				</xs:annotation> </xs:attribute> -->
		</xs:complexType>
	</xs:element>
	<xs:element name="pluginOperation">
		<xs:annotation>
			<xs:documentation>plugin parameter</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>plugin cmd</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="oprName" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>plugin display name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="className" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>extenal interface, must extends
						com.haiyan.plugin.OperationPlugin
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="accessKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>access key of button</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="style" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>style of button</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostPage" default="query">
				<xs:annotation>
					<xs:documentation>button of page</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="query">
							<xs:annotation>
								<xs:documentation>query page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="edit">
							<xs:annotation>
								<xs:documentation>edit page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ids">
							<xs:annotation>
								<xs:documentation>many ids page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="tblevel" type="xs:int" use="optional"
				default="1">
				<xs:annotation>
					<xs:documentation>toolbar level</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="img" type="xs:string" use="optional"
				default="other">
				<xs:annotation>
					<xs:documentation>toolbar icon</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="action" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>web action</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="isNoVisibleContent" type="xs:boolean"
				use="optional" default="false">
				<xs:annotation>
					<xs:documentation>has unvisible component</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="Group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Group" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="order" type="xs:int" use="optional" />
			<xs:attribute name="style" type="xs:string" use="optional" />
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
			<xs:attribute name="fields" type="xs:NMTOKENS" use="optional">
				<xs:annotation>
					<xs:documentation>Group, diliver by " "</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="collapse" type="xs:boolean" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="TabPanel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Panel" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="order" type="xs:int" use="optional" />
			<xs:attribute name="style" type="xs:string" use="optional" />
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
			<xs:attribute name="fields" type="xs:NMTOKENS" use="optional">
				<xs:annotation>
					<xs:documentation>Group, diliver by " "</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="UniPanel1">
			<xs:annotation>
				<xs:documentation>uni panel name in one tabpanel</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Panel" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniGroup1">
			<xs:annotation>
				<xs:documentation>uni group name in one tabpanel</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Group" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniTabPanel1">
			<xs:annotation>
				<xs:documentation>uni tabpanel name in one tabpanel
				</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="TabPanel" />
			<xs:field xpath="@name" />
		</xs:unique>
	</xs:element>
	<xs:element name="Panel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Panel" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="Group" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="TabPanel" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="order" type="xs:int" use="optional" />
			<xs:attribute name="style" type="xs:string" use="optional" />
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="description" type="xs:string" use="required" />
			<xs:attribute name="fields" type="xs:NMTOKENS" use="optional">
				<xs:annotation>
					<xs:documentation>Group, diliver by " "</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="UniPanel2">
			<xs:annotation>
				<xs:documentation>uni panel name in one panel</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Panel" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniGroup2">
			<xs:annotation>
				<xs:documentation>uni group name in one panel</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="Group" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniTabPanel2">
			<xs:annotation>
				<xs:documentation>uni tabpanel name in one panel</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="TabPanel" />
			<xs:field xpath="@name" />
		</xs:unique>
	</xs:element>
	<!-- -->
	<xs:element name="wfResult">
		<xs:annotation>
			<xs:documentation>wfResult</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="resultCondition" type="xs:string"
				use="required" />
			<xs:attribute name="nextStatusKey" type="xs:string" use="required" />
			<xs:attribute name="index" type="xs:int" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="workFlowItem">
		<xs:annotation>
			<xs:documentation>workFlowItem</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="wfResult" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="statusKey" type="xs:string" use="required" />
			<xs:attribute name="condition" type="xs:string" use="required" />
			<xs:attribute name="optKey" type="xs:string" use="required" />
			<xs:attribute name="resultItemCount" type="xs:int" use="required" />
			<xs:attribute name="index" type="xs:int" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:element name="workFlow">
		<xs:annotation>
			<xs:documentation>workFlow</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="workFlowItem" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="itemCount" type="xs:int" use="required" />
			<xs:attribute name="operatorFldKeys" type="xs:string"
				use="required" />
			<xs:attribute name="optTimeFldKeys" type="xs:string"
				use="required" />
			<xs:attribute name="statusFieldKey" type="xs:string"
				use="required" />
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="help">
		<xs:complexType mixed="true" />
	</xs:element>
	<xs:element name="doc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="help" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
