haiyan-config/xsd/haiyan-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by zhouxw  -->
<!-- W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<!--
	<xs:simpleType name="dbType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="genaralDB">
				<xs:annotation>
					<xs:documentation>genaral database</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="oracle9i">
				<xs:annotation>
					<xs:documentation>oracle9i</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="sqlserver">
				<xs:annotation>
					<xs:documentation>sqlserver</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="mysql">
				<xs:annotation>
					<xs:documentation>mysql</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hsqldb">
				<xs:annotation>
					<xs:documentation>hsqldb</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	-->
<!--
	<xs:element name="dbType">
		<xs:annotation>
			<xs:documentation>database type</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="value" default="genaralDB">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="genaralDB">
							<xs:annotation>
								<xs:documentation>genaral database</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="oracle9i">
							<xs:annotation>
								<xs:documentation>oracle9i</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="sqlserver">
							<xs:annotation>
								<xs:documentation>sqlserver</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="mysql">
							<xs:annotation>
								<xs:documentation>mysql</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="hsqldb">
							<xs:annotation>
								<xs:documentation>hsqldb</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="config">
		<xs:annotation>
			<xs:documentation>Haiyan Root Config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="webApp" minOccurs="0"/>
				<xs:element ref="functions" minOccurs="0"/>
				<xs:element ref="tableConfigFilePath"/>
				<xs:element ref="jdbcURL" minOccurs="0"/>
				<xs:element ref="dataSource" minOccurs="0"/>
				<xs:element ref="security"/>
				<xs:element ref="resource" minOccurs="0"/>
				<xs:element ref="dbSource" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="functions">
		<xs:annotation>
			<xs:documentation>functions scan classes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="classes" type="xs:string" default="haiyan.exp.function.DefaultFunction" />
		</xs:complexType>
	</xs:element>
	<xs:element name="resource">
		<xs:annotation>
			<xs:documentation>resource config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="title" type="xs:string" use="optional" default="GenMis">
				<xs:annotation>
					<xs:documentation>system title</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="leftFrameFile" type="xs:string" use="optional" default="/comResource/jsp/genmis/left.jsp">
				<xs:annotation>
					<xs:documentation>left page</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="topFrameFile" type="xs:string" use="optional" default="/comResource/jsp/genmis/top.jsp">
				<xs:annotation>
					<xs:documentation>top page</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="mainFrameFile" type="xs:string" use="optional" default="/comResource/jsp/genmis/main.jsp">
				<xs:annotation>
					<xs:documentation>main page</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="loginFile" type="xs:string" use="optional" default="/comResource/jsp/genmis/login.jsp">
				<xs:annotation>
					<xs:documentation>login page</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="bottomFrameFile" type="xs:string" use="optional" default="/comResource/jsp/genmis/bottom.jsp">
				<xs:annotation>
					<xs:documentation>bottom page</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="security">
		<xs:annotation>
			<xs:documentation>security config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="certificateMapping" minOccurs="0">
					<xs:annotation>
						<xs:documentation>certificate need this config:security.enabled=true. Must instance com.haiyan.genmis.core.right.CertificateMapping</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="className" type="xs:string" use="optional" default="com.haiyan.genmis.core.right.DefaultCertMapping"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="userRegistry" minOccurs="0">
					<xs:annotation>
						<xs:documentation>user mapping</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="database">
								<xs:annotation>
									<xs:documentation>database config</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="tableName" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>database tablename</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="userIdColName" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>user id columnname</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="userCodeColName" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>user code columnname</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="userNameColName" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>user name columnname</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="passwordColName" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>user pass columnname</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="defaultUserCode" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>default user code</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="defaultUserPass" type="xs:string" use="optional">
										<xs:annotation>
											<xs:documentation>default user pass</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="LDAP">
								<xs:annotation>
									<xs:documentation>ldap catalog</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="IP" type="xs:string" use="required"/>
									<xs:attribute name="userName" type="xs:string" use="required"/>
									<xs:attribute name="password" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="customerize">
								<xs:annotation>
									<xs:documentation>cert class</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="className" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="enabled" type="xs:boolean" default="false">
				<xs:annotation>
					<xs:documentation>enable cert</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="jdbcURL">
		<xs:annotation>
			<xs:documentation>jdbc connect parameter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jdbc name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbType" type="xs:string" default="genaralDB"/>
			<xs:attribute name="driver" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jdbc driver name.example:oracle "oracle.jdbc.driver.OracleDriver", Access "sun.jdbc.odbc.JdbcOdbcDriver"</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="url" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jdbc url.example:oracle "jdbc:oracle:thin:@10.168.3.14:1521:sinopec", Access "jdbc:odbc:driver={Microsoft Access Driver (*.mdb)};DBQ=E:\\LiweiWork\\temp\\test.mdb"</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="username" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jdbc username</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="password" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jdbc userpass</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbcp" type="xs:boolean" use="optional" default="false">
				<xs:annotation>
					<xs:documentation>use dbcp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbcpProperty" type="xs:string" use="optional" >
				<xs:annotation>
					<xs:documentation>dbcpProperty FileName</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="dataSource">
		<xs:annotation>
			<xs:documentation>jndi connect parameter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jndi name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbType" type="xs:string" default="genaralDB"/>
			<xs:attribute name="jndi" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>jndi resource</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="webApp">
		<xs:annotation>
			<xs:documentation>system webapp path.example:"/webcontent/"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="service" type="xs:string" default="haiyan" />
			<xs:attribute name="port" type="xs:int" default="8087" />
			<xs:attribute name="path" type="xs:string" default=""/>
			<xs:attribute name="version" type="xs:int" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tableConfigFilePath">
		<xs:annotation>
			<xs:documentation>system config file path.example:"/test/"</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" default="/"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbSource">
		<xs:annotation>
			<xs:documentation>other database</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="jdbcURL" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="dataSource" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
