haiyan-config/xsd/haiyan-wfd.xsd

<?xml version="1.0" encoding="GBK"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by zhouxw (bokesoft) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="Script" type="xs:string"/>
	<xs:element name="Data" type="xs:string"/>
	<xs:element name="Property">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element ref="Script"/>
				<xs:element ref="Data" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="wftype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Default"/>
						<xs:enumeration value="Route"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="className" type="xs:string" use="required"/>
			<xs:attribute name="leftID" type="xs:string" use="required"/>
			<xs:attribute name="rightID" type="xs:string" use="required"/>
			<xs:attribute name="use" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFLines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WFLine" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFPanel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element ref="Script"/>
				<xs:element ref="Data" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="wftype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Default"/>
						<xs:enumeration value="Activity"/>
						<xs:enumeration value="End"/>
						<xs:enumeration value="Start"/>
						<xs:enumeration value="SubProcess"/>
						<xs:enumeration value="Status"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="className" type="xs:string" use="required"/>
			<xs:attribute name="posx" type="xs:int" use="required"/>
			<xs:attribute name="posy" type="xs:int" use="required"/>
			<xs:attribute name="use" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFPanels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WFPanel" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFProcess">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WFTabPanels" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFTabPanels">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WFPanels"/>
				<xs:element ref="WFLines"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
