haiyan-config/xsd/@deprecated/haiyan-bill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by zhouxw -->
<!-- W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="Haiyan">
		<xs:annotation>
			<xs:documentation>Haiyan Bill Config</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="bill" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- metaconfig -->
	<xs:element name="bill">
		<xs:annotation>
			<xs:documentation>config bill</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="id" minOccurs="0" />
				<xs:element ref="billid" minOccurs="0" />
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="querySQL" minOccurs="0" />
				<xs:element ref="queryFilter" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="role" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="pluginInterceptor" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element ref="pluginOperation" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element ref="Operation" minOccurs="0" />
				<xs:element ref="DataRules" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="doc" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>table view name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>table description</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="dbSource" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>database source</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelid" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="modelcode" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>bill module CODE</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
		<xs:unique name="UniFieldName">
			<xs:annotation>
				<xs:documentation>uni field name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="field" />
			<xs:field xpath="@name" />
		</xs:unique>
		<xs:unique name="UniPluginOperation">
			<xs:annotation>
				<xs:documentation>uni plugin name in one table</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="pluginOperation" />
			<xs:field xpath="@name" />
		</xs:unique>
	</xs:element>
	<xs:complexType name="AbstractBillField" abstract="true">
		<xs:annotation>
			<xs:documentation>abstract field parameter</xs:documentation>
		</xs:annotation>
		<xs:attribute name="name" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>field name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dbName" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>dbName</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tableIndex" type="xs:int" use="required">
			<xs:annotation>
				<xs:documentation>tableIndex</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>description</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="nullAllowed" type="xs:boolean" use="optional"
			default="true">
			<xs:annotation>
				<xs:documentation>allow null</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="displayOnly" type="xs:boolean" use="optional"
			default="false">
			<xs:annotation>
				<xs:documentation>if true it's visual</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="defaultValue" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>set default field value</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dataStyle" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>set field db style</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="length" type="xs:int" use="optional">
			<xs:annotation>
				<xs:documentation>field db length</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ExternalProgram" abstract="true"
		mixed="true">
		<xs:annotation>
			<xs:documentation>abstract external</xs:documentation>
		</xs:annotation>
		<xs:attribute name="className" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external class name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="methodName" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external method name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parameter" type="xs:string">
			<xs:annotation>
				<xs:documentation>abstract external parameter</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Order">
		<xs:annotation>
			<xs:documentation>field order config for query page
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="needOrder" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>this field need order</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataRules">
		<xs:annotation>
			<xs:documentation>data rule</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rule" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>field rule define</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="srcTableIndex" type="xs:int" use="required">
							<xs:annotation>
								<xs:documentation>srcTableIndex</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="field" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>some table's field name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="destTableIndex" type="xs:int"
							use="required">
							<xs:annotation>
								<xs:documentation>destTableIndex</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="formula" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>data formula</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>data rules name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>data rules description</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcTable" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>srcTable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcRefField" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>srcRefField</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="srcExp" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>srcExp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destTable" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>destTable</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destRefField" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>destRefField</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="destExp" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>destExp</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Operation">
		<xs:annotation>
			<xs:documentation>operation setting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="save" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can save</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saveAndAdd" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can save and add new</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="saveAndAddCopy" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>can save and copy new</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="editOne" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can editOne</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryOne" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can queryOne</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryPageAdd" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can add</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="queryPageDelete" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>can delete</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="showPrintPage" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>show print view</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="filterDesign" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>filterDesign</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="filterby" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>filterby</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="quickQuery" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>quickQuery</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="inWorkFlow" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>use workflow</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="security" type="xs:boolean" use="optional"
				default="false">
				<xs:annotation>
					<xs:documentation>use security parameter (__procID)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="customizeColumns" type="xs:boolean"
				use="optional" default="true">
				<xs:annotation>
					<xs:documentation>user define display field (@deprecated)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="selectedHidden" type="xs:boolean"
				use="optional" default="false">
				<xs:annotation>
					<xs:documentation>hidden parameter (__selectedID)
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pluginOperation">
		<xs:annotation>
			<xs:documentation>plugin parameter</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="name" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>plugin cmd</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="oprName" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>plugin display name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="className" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>extenal interface, must extends
						com.haiyan.plugin.OperationPlugin
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="accessKey" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>access key of button</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="style" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>style of button</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostPage" default="query">
				<xs:annotation>
					<xs:documentation>button of page</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="query">
							<xs:annotation>
								<xs:documentation>query page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="edit">
							<xs:annotation>
								<xs:documentation>edit page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ids">
							<xs:annotation>
								<xs:documentation>many ids page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="action" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>action</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="role">
		<xs:annotation>
			<xs:documentation>system role right</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="disabledField" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>diabled field</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="disabled" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>field</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="readOnlyField" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>readOnly field</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>field</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="disabledOperation" minOccurs="0"
					maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>disabled operation</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="name" type="xs:NMTOKENS" use="required">
							<xs:annotation>
								<xs:documentation>operation</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKENS" use="required">
				<xs:annotation>
					<xs:documentation>several role name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="view" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>view right</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="billid">
		<xs:annotation>
			<xs:documentation>bill pk</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="id">
		<xs:annotation>
			<xs:documentation>table pk</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="querySQL">
		<xs:annotation>
			<xs:documentation>select sql</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="pluggedFilter">
		<xs:annotation>
			<xs:documentation>filter sql</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram" />
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryFilter">
		<xs:annotation>
			<xs:documentation>table filter</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pluggedFilter" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="role" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>role group</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pluginInterceptor">
		<xs:annotation>
			<xs:documentation>intercepotor of one plugin</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="ExternalProgram">
					<xs:attribute name="pluginName" type="xs:string" use="required">
						<xs:annotation>
							<xs:documentation>which plugin name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="type" use="optional" default="before">
						<xs:annotation>
							<xs:documentation>intercepotor type</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="before">
									<xs:annotation>
										<xs:documentation>before tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="after">
									<xs:annotation>
										<xs:documentation>after tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="beforeAll">
									<xs:annotation>
										<xs:documentation>before all tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
								<xs:enumeration value="afterAll">
									<xs:annotation>
										<xs:documentation>after all tx commit</xs:documentation>
									</xs:annotation>
								</xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="javascript">
		<xs:annotation>
			<xs:documentation>javascript of page</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="parameter" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>parameter</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="src" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>js src</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="hostPage" use="optional" default="query">
				<xs:annotation>
					<xs:documentation>page of host</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="query">
							<xs:annotation>
								<xs:documentation>query page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="edit">
							<xs:annotation>
								<xs:documentation>edit page</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="ids">
							<xs:annotation>
								<xs:documentation>many ids</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryCondition">
		<xs:complexType>
			<xs:attribute name="type" use="optional">
				<xs:annotation>
					<xs:documentation>query condition type</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="none">
							<xs:annotation>
								<xs:documentation>has no condition</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="displayOnly">
							<xs:annotation>
								<xs:documentation>display only</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="equal">
							<xs:annotation>
								<xs:documentation>equals</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="blurMatching">
							<xs:annotation>
								<xs:documentation>blur matching</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="region">
							<xs:annotation>
								<xs:documentation>region</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="in">
							<xs:annotation>
								<xs:documentation>in a range</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="order" type="xs:boolean" use="optional"
				default="true">
				<xs:annotation>
					<xs:documentation>can order</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:annotation>
			<xs:documentation>field setting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField">
					<xs:sequence>
						<xs:element ref="queryCondition" minOccurs="0" />
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="key" type="xs:string" />
									<xs:element name="value" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="sumable" type="xs:boolean" use="optional"
						default="false">
						<xs:annotation>
							<xs:documentation>@deprecated sumable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="mappingTable" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>mappingTable for multiselect</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="one2oneTable" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>one2one table name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="one2oneField" type="xs:string"
						use="optional">
						<xs:annotation>
							<xs:documentation>one2one field name</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="updateable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>updateable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="createable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>createable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="lazyLoad" type="xs:boolean" use="optional"
						default="false">
						<xs:annotation>
							<xs:documentation>lazyLoad</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="loadType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>loadType</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="dsn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>dsn</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:annotation>
			<xs:documentation>table setting</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractBillField">
					<xs:sequence>
						<xs:element ref="queryCondition" minOccurs="0" />
						<xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="key" type="xs:string" />
									<xs:element name="value" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="updateable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>updateable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="createable" type="xs:boolean" use="optional"
						default="true">
						<xs:annotation>
							<xs:documentation>createable</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="lazyLoad" type="xs:boolean" use="optional"
						default="false">
						<xs:annotation>
							<xs:documentation>lazyLoad</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="loadType" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>loadType</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="dsn" type="xs:string" use="optional">
						<xs:annotation>
							<xs:documentation>dsn</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- -->
	<xs:element name="help">
		<xs:complexType mixed="true" />
	</xs:element>
	<xs:element name="doc">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="help" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>